:root{
    --primary-color: #082ef5;
    --primary-border-color: #ccd4ff;
    --danger-color: #f30761;
    --bg-danger: #ffe4e4;
    --primary-color: #082ef5;
    --text-color: #1e1f20;
    --text-gray-30: #4d5055;
    --bg-tab: #f2f2f2;
    --white: #ffffff;
    --family-text: "Inter Tight", sans-serif;
    --family-title: "Dela Gothic One", sans-serif;
    --black:#000000;
    --letter-spacing-sx: 0.2px;
    --weight-regular: 400;
    --size-text-3: 16px;
    --line-height-text-3: 24px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--family-text);
}

/* Header */
header{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: white;
}

header .navbar{
    width: 1220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 72px;
}

header .navbar .main-menu{
    display: flex;
    gap: 48px;
    align-items: center;
    font-size: 18px;
}

header .navbar .main-menu a{
    text-decoration: none;
}

header .navbar .main-menu .menuIt{
    margin: auto 0;
    color: #000000;
    font-size: var(--size-text-3);
    letter-spacing: var(--letter-spacing-sx);
}

header .navbar .main-menu .active{
    color: var(--primary-color);
    font-weight: bold;
    
}

header .navbar .main-menu .menuIt .ic-arrow{
    display: none;
}

header .navbar .main-menu .contact-button{
    font-family: var(--family-title);
    font-weight: var(--weight-regular);
    letter-spacing: 0.5px;
    font-size: 18px;
    padding: 12px 20px 12px 20px;
    background-color: var(--danger-color);
    color: var(--white);
    border-radius: 8px;
    cursor: pointer;
}

header .navbar .menu-icon{
    display: none;
    cursor: pointer;
}

/* Banner */
.hero-banner{
    display: flex;
    width: 100%;
    border-bottom: 2px solid var(--primary-border-color);
}

.hero-banner .banner {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    border-bottom: 15px solid var(--primary-border-color);
}

.hero-banner .banner .mobile {
    display: none;
}

/* container-content */
.container-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid var(--primary-border-color);

}

.content-top{
    display: flex;
    max-width: 1216px;
    gap: 40px;
}

.content-top .content-images{
    display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: 719px;
    min-height: 659px;
}

.content-top .content-images .breadcrumbs{
    display: flex;
    gap: 3px;
    letter-spacing: 0.5px;
    color: var(--text-color);
    font-weight: 500;
    cursor: pointer;
    padding-top: 30px;
}

.content-top .content-images .breadcrumbs .page.active{
    color: #979EAA;
}

.content-top .content-images .images-content{
    display: flex;
}

.content-top .content-images .images-content .title{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.content-top .content-images .images-content .title .heading{
    font-family: var(--family-title);
    font-size: 32px;
    font-weight:400;
    line-height: 36.16px;
}

.content-top .content-images .images-content .title .date{
    display: flex;
    align-items: center;
    gap: 7px;
}

.content-top .content-images .transfer-image{
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.content-top .content-images .transfer-image .group-image{
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
}

.content-images .dots{
    display: flex;
    gap: 8px;
    margin-top: -35px;
}

.content-images .dots .dot{
    border-radius: 8px;
    background-color: #ccd4ff93;
    width: 12px;
    height: 12px;
    transition: all 0.3s;
    cursor: pointer;
}

.content-images .dots .dot.active{
    width: 42px;
    background-color: var(--primary-border-color);
}

.content-info {
    right: 112px;

}

.content-info .information{
    width: 457px;
    min-height: 659px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-left: 2px solid var(--primary-border-color);
    border-right: 2px solid var(--primary-border-color);
}

.information .information-content{
    max-width: 401px;
    min-height: 659px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-info .cards{
    margin-top: 20px;
    border-radius: 20px;
    background-color: #FCFCFD;
    display: flex;
    flex-direction: column;
    min-width: 240px;
    padding: 24px 0;
    border: 2px solid var(--primary-border-color);
}

.information .information-content .donate-button{
    margin-top: 20px;
    padding: 12px 20px;
    background-color: var(--danger-color);
    text-align: center;
    font-size: 18px;
    font-family: var(--family-title);
    color: var(--white);
    letter-spacing: 0.5px;
    cursor: pointer;
}

.information .information-content .heading{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: var(--text-gray-30);
    margin: 20px 0;
}

/* Activity card */
.content-info .cards .card{
    display: flex;
    gap: 16px;
    border: none;
    border-bottom: 2px solid var(--primary-border-color);
    padding: 0 20px 20px;
    border-radius: revert-layer;
}

.content-info .cards .card{
    display: flex;
    flex-direction: column;
    gap: 18PX;
}

.content-info .cards .card .jLaw{
    display: flex;
    gap: 10px;
    width: 353px;
    align-items: center;
}

.content-info .cards .card .jLaw img{
    width: 64px;
}

.content-info .cards .card .jLaw .sub{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.content-info .cards .card .title{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
}

.content-info .cards .card .name{
    color: #737880;
    font-size: 18px;
    font-weight: 500;
}
/* Activity view */
.content-info .card-view-count{
    display: flex;
    padding: 24px 20px 0;
    justify-content: space-between;
}

.content-info .card-view-count .slot .view-donate{
    font-size: 14px;
    color: #737880;
}

.content-info .card-view-count .group-avatar{
    display: flex;
    margin-right: 8px;
}

.card-view-count .group-avatar .avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: -12px;
}

/* Content bottom */
.content-bottom{
    max-width: 1216px;
    display: flex;
    gap: 40px;
    border-top: 2px solid var(--primary-border-color);
}

.content-bottom .situation{
    display: flex;
    padding: 60px 0;
    max-width: 719px;
}

.content-bottom .situation .situation-body{
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 719px;
    min-height: 1554px;

}

.content-bottom .situation .situation-body .body-tabs{
    display: flex;
    padding: 6px;
    background-color: var(--bg-tab);
    max-width: 279px;
    border-radius: 25px;
    justify-content: center;
    cursor: pointer;
}

.content-bottom .situation .situation-body .body-tabs .tab{
    padding: 10px 18px ;
    text-align: center;
    font-weight: 600;
    border-radius: 26px;
    font-size: 18px;
}

.content-bottom .situation .situation-body .body-tabs .tab.private{
    background-color: var(--white);
}

.situation .situation-body .body-text{
    display: flex;
    flex-direction: column;
    gap: 28px;
    max-width: 719px;
    min-height: 916px;
}

.situation .situation-body .body-text .heading{
    font-size: 32px;
    font-family: var(--family-title);
    line-height: 36.16px;
    font-weight: 400;
    color: var(--text-color);

}

.situation .situation-body .body-text p{
    font-weight: var(--weight-regular);
    letter-spacing: var(--letter-spacing-sx);
    line-height: var(--line-height-text-3);
    font-size: var(--size-text-3);
}

.situation-body .body-content{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.situation-body .body-content .heading{
    font-size: 32px;
    font-family: var(--family-title);
    line-height: 36.16px;
    font-weight: 400;
    color: var(--text-color);
}

.situation-body .body-content .cards .card-add{
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding: 30px;
    border: 2px solid var(--primary-border-color);
    border-radius: 20px;
}

.situation-body .body-content .cards .card-add .add-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
}

.situation-body .body-content .cards .card-add .add-row .donate{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Programme */
.programme{
    padding: 60px 0;
    width: 457px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid var(--primary-border-color);
    border-right: 2px solid var(--primary-border-color);
}


.programme-body{
    max-width: 401px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    min-height: 1674px;
}

.programme-body .cards{
    margin-top: 20px;
    border-radius: 20px;
    background-color: #FCFCFD;
    display: flex;
    flex-direction: column;
    min-width: 240px;
    padding: 24px 0;
    border: 2px solid var(--primary-border-color);
}

.programme-body .heading{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: var(--text-gray-30);
    margin: 20px 0;
}

/* Activity card */
.programme-body .cards .card{
    display: flex;
    gap: 16px;
    border: none;
    border-bottom: 2px solid var(--primary-border-color);
    padding: 0 20px 20px;
    border-radius: revert-layer;
}

.programme-body .cards .card .bg-title{
    display: flex;
    gap: 16px;
    color: var(--primary-color);
    font-family: var(--family-text);
    font-weight: bold;
    font-size: 18px;
}

.programme-body .cards .card .company .table-company{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.programme-body .cards .card .company .table-company .logo-company{
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    letter-spacing: 1px;
}

.programme-body .cards .card .company .table-company .date{
    background-color: #FFE4E4;
    padding: 4px 12px;
    border-radius: 20px;
    color: var(--danger-color);
    font-weight: 500;
}

/* Activity view */
.programme-body .card-view-count{
    display: flex;
    padding: 24px 20px 0;
    justify-content: space-between;
}

.programme-body .card-view-count .slot .view-donate{
    font-size: 14px;
    color: #737880;
}

.programme-body .card-view-count .group-avatar{
    display: flex;
    margin-right: 8px;
}

.card-view-count .group-avatar .avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: -12px;
}

/* Desktop footer */
footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 107px 0;
    align-items: center;
}

footer .footer-frame{
    display: flex;
    width: 100%;
    max-width: 1216px;
    justify-content: space-between;
    margin-bottom: 90px;
}

footer .footer-frame .frame-flex{
    display: flex;
    flex-direction: column;
    gap: 60px;
    
}

footer .footer-frame .frame-flex .flex-menu{
    display: flex;
    gap: 40px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

footer .footer-frame .frame-flex .flex-menu a{
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}

footer .footer-frame .frame-flex .flex-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer .divider {
    background-color: var(--primary-border-color);
    height: 2px;
    width: 100%;
}

footer .socials {
    align-items: center;
    display: flex;
    min-height: 64px;
    width: 100%;
    max-width: 1220px;
    color: rgba(30, 31, 32, 1);
    justify-content: space-between;
    font: 400 16px Inter, sans-serif;
}
  
footer .socials .social-link {
    height: 100%;
    display: flex;
}

footer .socials .icon {
    margin: auto 0;
    cursor: pointer;
}
 
footer .socials .paragraph-text-base {
    width: 521px;
    margin: auto 0;
    padding: 20px 0;
    color: var(--text-color);
    font-size: 16px;
    text-align: center;
    color: #787979;
}


@media (max-width: 1220px){
    /* Mobile header navbar */
    header .navbar{
        margin: 0;
        padding: 12px 18px;
        width: 100%;
        gap: 20px;
    }
    
    header .navbar .menu-icon {
        display: block;
        position: absolute;
        top: 20px;
        right: 16px;
    }
    
    header .navbar .main-menu {
        width: 100%;
        flex-direction: column;
        gap: 0;
        display: none;
    }
    
    header.active .navbar .main-menu{
        display: flex;
        height: calc(100vh - 72px)
    }
    
    header .navbar .main-menu .menuIt {
        padding: 12px 0;
        margin: 0;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    
    header .navbar .main-menu .menuIt .ic-arrow{
        display: block;
    }
    
    header .navbar .main-menu .contact-button{
        position: absolute;
        bottom: 32px;
        width: calc(100% - 32px);
        text-align: center;
        height: 48px;
    }
/* Banner */
    .hero-banner .banner img {
        height: 100%;
      }

      .container-content{
        border-bottom: none;

      }

      .container-content .content-top{
        flex-direction: column;
        justify-content: center;
    }
    
    .container-content .content-bottom{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .content-top .content-images .transfer-image{
        flex-direction: column;
    }
    .content-top .content-images .transfer-image .group-image{
        display: block;
        width: 100%;
        text-align: center;
        max-width: 719px;
    }

    .content-top .content-images .transfer-image .group-image img{
        width: 175px;
    }

    .content-info{
        display: flex;
        justify-content: center;
    }

    .content-info .information{
        width: 100%;
        border: none;
    }

    .information .information-content{
        width: 100%;
        max-width: none;
        padding: 0 30px;
        border-top: 2px solid var(--primary-border-color);
    }

    .programme{
        width: 100%;
        max-width: none;
        border: none;
        border-top: 2px solid var(--primary-border-color);
        border-bottom: 2px solid var(--primary-border-color);
    }

    .programme .programme-body{
        width: 100%;
        max-width: none;
        padding: 0 30px;
        min-height: 0;
    }
    .content-bottom .situation .situation-body{
        padding: 0 30px;
    }

    footer {
        padding: 40px 0;
    }
    
    footer .footer-frame{
        gap: 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:  0 16px;
        margin: 100px;
    }
    
    footer .footer-frame .frame-logo{
        padding-bottom: 16px;
    }
    
    footer .footer-frame .frame-flex{
        width: 100%;
        align-items: center;
        margin-bottom: 40px;
        text-align: center;
    }
    
    footer .footer-frame .frame-flex .flex-menu{
        flex-direction: column;
        text-align: center;
        gap: 16px;
    }
    
    footer .footer-frame .frame-flex .flex-info{
        gap: 8px;
        align-items: center;
    }
    
    footer .socials {
        flex-direction: column;
    }
    footer .socials .social-link {
        width: 100%;
        display: flex;
        justify-content: center;
        border-top: 2px solid var(--primary-border-color);
        border-bottom: 2px solid var(--primary-border-color);
    }
      
    footer .divider {
        display: none;
    }
}



@media (max-width: 768px) {
    .hero-banner .banner .desktop {
        display: none;
    }
    .hero-banner .banner .mobile {
        display: block;
    }
}