:root{
    --primary-color: #082ef5;
    --primary-border-color: #ccd4ff;
    --danger-color: #f30761;
    --bg-danger: #ffe4e4;
    --primary-color: #082ef5;
    --text-color: #1e1f20;
    --text-gray-30: #4d5055;
    --bg-tab: #f2f2f2;
    --white: #ffffff;
    --family-text: "Inter Tight", sans-serif;
    --family-title: "Dela Gothic One", sans-serif;
    --black:#000000;
    --letter-spacing-sx: 0.2px;
    --weight-regular: 400;
    --size-text-3: 16px;
    --line-height-text-3: 24px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--family-text);
}

/* Header */
header{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: white;
}

header .navbar{
    width: 1220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 72px;
}

header .navbar .main-menu{
    display: flex;
    gap: 48px;
    align-items: center;
    font-size: 18px;
}

header .navbar .main-menu a{
    text-decoration: none;
}

header .navbar .main-menu .menuIt{
    margin: auto 0;
    color: #000000;
    font-size: var(--size-text-3);
    letter-spacing: var(--letter-spacing-sx);
}

header .navbar .main-menu .active{
    color: var(--primary-color);
    font-weight: bold;
    
}

header .navbar .main-menu .menuIt .ic-arrow{
    display: none;
}

header .navbar .main-menu .contact-button{
    font-family: var(--family-title);
    font-weight: var(--weight-regular);
    letter-spacing: 0.5px;
    font-size: 18px;
    padding: 12px 20px 12px 20px;
    background-color: var(--danger-color);
    color: var(--white);
    border-radius: 8px;
    cursor: pointer;
}

header .navbar .menu-icon{
    display: none;
    cursor: pointer;
}


/* .Section contact */
.section-contact{
    display: flex;
    justify-content: center;
    top: 72px;
}
.section-contact img{
    border: 2px solid var(--primary-border-color);
    position: relative;
    margin-top: 80px;
}

.section-contact .background-contact {
    position: absolute;
    margin-top: 190px;
    margin-right: 600px;
}

.section-contact .background-contact .heading{
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 2%;
    font-family: var(--family-title);
    color: var(--primary-color);
    margin-bottom: 45px;
}

.section-contact .background-contact .info{
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 18px;
}

.section-contact .background-contact .info .info-hotline{
    display: flex;
    gap: 24px;
}

.section-contact .background-contact .info .info-email{
    display: flex;
    gap: 37px;
}

.section-contact .background-contact .info .info-address{
    display: flex;
    gap: 25.1px;
}

.section-contact .background-contact .contact-right{
    position: absolute;
    top: 0;
    left: 670px;
    min-width: 430px;
    max-height: 534px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: var(--white);
}

.section-contact .background-contact .contact-right .heading{
    font-family: var(--family-text);
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.5px;
    margin: 0;
}

.section-contact .background-contact .contact-right form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section-contact .background-contact .contact-right .form-group{
    position: relative;
}

.section-contact .background-contact .contact-right .form-group label{
    position: absolute;
    left: 13px;
    top: 5px;
    font-weight: bold;
}

.section-contact .background-contact .contact-right .form-group input{
    width: 430px;
    outline: none;
    padding: 25px 0 5px 10px;
    border: 2px solid var(--primary-border-color);
    border-radius: 12px;
}

.section-contact .background-contact .contact-right .group-area{
    position: relative;
}

.section-contact .background-contact .contact-right .group-area label{
    position: absolute;
    left: 13px;
    top: 5px;
    font-weight: bold;
}



.section-contact .background-contact .contact-right .group-area textarea{
    width: 430px;
    height: 220px;
    outline: none;
    padding: 25px 0 5px 10px;
    border: 2px solid var(--primary-border-color);
    border-radius: 12px;
}

.section-contact .background-contact .contact-right .form-group input[type=text]:focus{
    border: 2px solid var(--primary-color);
}

.section-contact .background-contact .contact-right .form-group input[type=email]:focus{
    border: 2px solid var(--primary-color);
}

.section-contact .background-contact .contact-right .form-group textarea:focus{
    border: 2px solid var(--primary-color);
}

.section-contact .background-contact .contact-right .submit-button {
    padding: 10px 20px 14px 20px;
    background-color: var(--primary-border-color);
    width: 154px;
    border-radius: 8px;
    text-align: center;
    font-family: var(--family-title);
    color: var(--white);
    cursor: pointer;
}

/* Desktop footer */
footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 107px 0;
    align-items: center;
    margin-top: 60px;
}

footer .footer-frame{
    display: flex;
    width: 100%;
    max-width: 1216px;
    justify-content: space-between;
    margin-bottom: 90px;
}

footer .footer-frame .frame-flex{
    display: flex;
    flex-direction: column;
    gap: 60px;
    
}

footer .footer-frame .frame-flex .flex-menu{
    display: flex;
    gap: 40px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.5px;
}

footer .footer-frame .frame-flex .flex-menu a{
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
}

footer .footer-frame .frame-flex .flex-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

footer .divider {
    background-color: var(--primary-border-color);
    height: 2px;
    width: 100%;
}

footer .socials {
    align-items: center;
    display: flex;
    min-height: 64px;
    width: 100%;
    max-width: 1220px;
    color: rgba(30, 31, 32, 1);
    justify-content: space-between;
    font: 400 16px Inter, sans-serif;
}
  
footer .socials .social-link {
    height: 100%;
    display: flex;
}

footer .socials .icon {
    margin: auto 0;
    cursor: pointer;
}
 
footer .socials .paragraph-text-base {
    width: 521px;
    margin: auto 0;
    padding: 20px 0;
    color: var(--text-color);
    font-size: 16px;
    text-align: center;
    color: #787979;
}
@media (max-width: 1220px){
    /* Mobile header navbar */
    header .navbar{
        margin: 0;
        padding: 12px 18px;
        width: 100%;
        gap: 20px;
    }
    
    header .navbar .menu-icon {
        display: block;
        position: absolute;
        top: 20px;
        right: 16px;
    }
    
    header .navbar .main-menu {
        width: 100%;
        flex-direction: column;
        gap: 0;
        display: none;
    }
    
    header.active .navbar .main-menu{
        display: flex;
        height: calc(100vh - 72px)
    }
    
    header .navbar .main-menu .menuIt {
        padding: 12px 0;
        margin: 0;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    
    header .navbar .main-menu .menuIt .ic-arrow{
        display: block;
    }
    
    header .navbar .main-menu .contact-button{
        position: absolute;
        bottom: 32px;
        width: calc(100% - 32px);
        text-align: center;
        height: 48px;
    }
    footer {
        padding: 40px 0;
    }
    
    footer .footer-frame{
        gap: 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:  0 16px;
        margin: 100px;
    }
    
    footer .footer-frame .frame-logo{
        padding-bottom: 16px;
    }
    
    footer .footer-frame .frame-flex{
        width: 100%;
        align-items: center;
        margin-bottom: 40px;
        text-align: center;
    }
    
    footer .footer-frame .frame-flex .flex-menu{
        flex-direction: column;
        text-align: center;
        gap: 16px;
    }
    
    footer .footer-frame .frame-flex .flex-info{
        gap: 8px;
        align-items: center;
    }
    
    footer .socials {
        flex-direction: column;
    }
    footer .socials .social-link {
        width: 100%;
        display: flex;
        justify-content: center;
        border-top: 2px solid var(--primary-border-color);
        border-bottom: 2px solid var(--primary-border-color);
    }
      
    footer .divider {
        display: none;
    }
    }